//? ======================================= IMPORTS ==============================================

@import "_globals.scss";



//? ======================================= LANDING PAGE HTML ====================================


//// ------------------ HEADER ---------------------



//// --------------- MAIN SECTIONS -----------------



//// -------------- OTHER STUFF -----------------




//? ======================================= CONTENT WIDTH QUIRIES ====================================

.content-width {
  position: relative;
  width: 55%;
  max-width: 1400px;
  // margin: 0px auto;
}

// @media screen and (min-width: 375px) {
//   .content-width {
//   }
// }

// @media screen and (min-width: 768px) {
//   .content-width {
//   }
// }

// @media screen and (min-width: 1440px) {
//   .content-width {
//   }
// }








/* //! THINGS YOU SHOULD ADD TO YOUR BOILERPLATE
CSS: Notations at the start of each line for colored comments
JS: The function that makes SVG

 */